%ol.breadcrumb.breadtitle
  %li
    %a{:href => user_index_path} 首页
  %li.active 竞价列表
.single-form-container
  .well.well-lg.panel_heading
    .manager-index-header
      竞价列表 &nbsp&nbsp&nbsp
      = link_to "报名列表"
