<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= link_to "活动通", '#', id: "logo" %>
    <nav>
      <ul class=" tna nav pull-right ">
        <% if current_user %>
            <div class="login_title">你好，
              <%= p current_user.name %>
              <%= link_to "退出", logout_path, method: 'delete', class: 'logout_title'%>
            </div>
        <% else %>
           
        <% end %>
      </ul>
    </nav>
  </div>
</div>